opencv-python>=4.8.0
numpy>=1.24.0
pandas>=2.3.3
matplotlib>=3.7.0
pillow>=10.0.0
scikit-image>=0.21.0
scipy>=1.11.0
torch>=2.9.1
torchvision>=0.15.2
easyocr>=1.7
datasets>=2.14.0
gradio==6.5.1
gradio_client==2.0.3
pix2tex
pillow
numpy
